<!DOCTYPE html>
<html>

<head>
   
 <title>Air Pollution level</title>


<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}"> 
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/font-awesome.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/magnific-popup.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <div class="container">
        <div class="header">
            <h2 style="text-align:center; border 1px solid green;">Fill meteorological data to get PM2.5 level:</h2>
        </div>
        <hr/>
        <br/>
        <form action="/airpoll/result" method="POST">


            <div class="form-group">
		<table style="width:100%">
		<th style="text-align:left">
                <input class="form-control" type="text" name="inp1" placeholder="temperature(F)" />
                <input class="form-control" type="text" name="inp2" placeholder="humidity(%)" />
                <input class="form-control" type="text" name="inp3" placeholder="pressure(hPa)" />
                <input class="form-control" type="text" name="inp4" placeholder="dewpoint(F)" />
                <input class="form-control" type="text" name="inp5" placeholder="precipitation(%)" />
                <input class="form-control" type="text" name="inp6" placeholder="NW wind speed(m/s)" />
                <input class="form-control" type="text" name="inp7" placeholder="NE wind speed(m/s)" />
                <input class="form-control" type="text" name="inp8" placeholder="SE wind speed(m/s)" />
                <input class="form-control" type="text" name="inp9" placeholder="SW wind speed(m/s)" />
                <br/>
                <input class="btn btn-block btn-success" type="submit" value="Submit" />
		</th>
		<th style="text-align:center">
		<a class="twitter-timeline" data-width="300" data-height="400" href="https://twitter.com/CPCB_OFFICIAL?ref_src=twsrc%5Etfw">Tweets by CPCB_OFFICIAL</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</th>
		<th style="text-align:right">
		<a class="twitter-timeline" data-width="320" data-height="400" data-theme="light" href="https://twitter.com/WHO?ref_src=twsrc%5Etfw">Tweets by WHO</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</th>
		</table>
            </div>
        </form>
    </div>
</body>

</html>
